.today-panel {

  &__data {
    display: flex;
    flex-direction: column;
    margin: 0 50% 0 0;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;

    &-main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 5px;
    }
  }
}

.today-info {
  font-size: 20px;
  line-height: 22px;
}

.today-icon {
   margin: -30px 0;
}

.temperature {
  font-size: 48px;
  line-height: 48px;
}
.weather-icon {
  margin-right: 4px;
}

@media (max-width: 1240px){
  .today-panel__container-main {
    flex-direction: column;
  }
}
@media (max-width: 768px){
  .temperature {
    font-size: 36px;
    line-height: 40px;
  }
  .today-panel__item {
    margin: 2px 5px;
    font-size: 12px;
    img {
      width: 18px;
      height: 18px;
    }
  }

}
@media (max-width: 600px){
  .today-panel__data {
    margin: 0 0 30% 0;
  }
}
@media (max-height: 860px){
  .today-icon {
      width: 150px;
      height: 150px;
  }
}
@media (max-height: 785px){
  .today-panel__container, .today-panel__item {
    font-size: 11px;
    line-height: 10px;
  }
  .today-info {
    font-size: 16px;
    line-height: 16px;
  }
  .temperature {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-height: 750px){
  .today-panel__container {
    font-size: 10px;
    line-height: 9px;
  }
  .today-icon {
    width: 100px;
    height: 100px;
  }
}
@media (max-height: 750px) and (max-width: 480px){
  .today-panel__data {
    margin: 0 0 35% 0;
  }
}
@media (max-height: 700px){
  .today-panel__container, .today-panel__item {
    font-size: 10px;
    line-height: 9px;
  }
  .today-info {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-height: 700px) and (max-width: 480px){
  .today-panel__data {
    margin: 0 0 30% 0;
  }
}
@media (max-height: 620px){
  .today-icon {
    width: 75px;
    height: 75px;
  }
}
@media (max-height: 620px) and (max-width: 480px){
  .today-panel__data {
    margin: 0 0 30% 0;
  }
}
@media (max-height: 500px) and (max-width: 480px){
  .today-panel__data {
    margin: 0 0 50% 0;
  }
}
